.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translateX(-50%) translateY(-50%);
    z-index: 100;
    width: 480px;
    border-radius: 6px;
    background-color: var(--popup-bg-color);
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 40px 32px;

    &>h1{
        color: var(--red);
    }

    &>p{
        color: var(--medium-grey);
    }

    &>.btns{
        display: flex;
        align-items: center;
        gap: 16px;

        &>*{
            flex: 1;
        }
    }
}

@media screen and (max-width: 760px){
    .container{
        width: calc(100% - 32px);
    }
}